<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

</head>
<body>

<section class="recipeDetails">
    <div class="recipeInfo">
        <h1>{{title}}</h1>
        <p>Author: {{author}}</p>
    </div>
    
    <div class="recipeContent">
        <h2>Ingredients:</h2>
        <ul>
            {{#each ingredients}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        
        <h2>Directions:</h2>
        <ol>
            {{#each directions}}
                <li>{{this}}</li>
            {{/each}}
        </ol>
        
        {{#if multimedia_url}}
            <div class="recipeImage">
                <img src="{{multimedia_url}}" alt="Recipe Image">
            </div>
        {{/if}}
    </div>
</section>

</body>
</html>
